<p id="notice"><%= notice %></p>

<h1>Bid Summary</h1>

<p><%= puts @bid_summary.products %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ProductID</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>High Bid Amount</th>
      <th>Demand</th>
      <th>Reserve Met?</th>
    </tr>
  </thead>

</table>

<br>


